* {
    justify-content: center;
}

body {
    background-color: rgb(181, 181, 181);
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table {
    text-align: center;
}

.dataframe {
    border-collapse: collapse;
    width: 100%;
  }

  .dataframe th, .dataframe td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
  }

  .dataframe th {
    background-color: #f2f2f2;
  }

  .elite {
    background-color: green;
    font-weight: bold;
  }

  .positive {
    background-color: #c6efce; /* Light green */
    font-weight: bold;
  }

  .negative {
    background-color: #f8cbc0; /* Light red */
  }

  .neutral {
      background-color: lightyellow;
  }

  .highlight {
    font-weight: bold;
  }

  .selected {
    text-decoration: line-through;
    background-color: black;
    color: white;
  }
  .filter-row input {
    width: 100%;
    box-sizing: border-box;
  }