<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Rookie Rankings</h1>
    </div>
    <div id="rookies" class="table">
        <!--Display the DataFrame table-->
        {{table_html|safe}}
    </div>
    <dialog id="dataModal" class="modal">
        <div id="modalContent">
            <div id="modalContent"></div>
        <button autofocus id="closeModalBtn" class="btn btn-secondary mt-3">Close</button>
        </div>
    </dialog>

<!--Bootstrap JS and Popper.JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='rookies.js') }}"></script>
<script>
    $(document).ready(function() { 
        $('#rookieTable').DataTable({
            pageLength: 100,
            fixedHeader: true,
           "columns": [
            null,                  // 0 Checkbox
            { "type": "num" },    //1 Rk
            null,    // 2 Player_Cleansed_Name
            null,                  // 3 Position
            null,                 // 4 NFL Team
            { "type": "num" },                  // 5 JJ Position Rank
            { "type": "num" },    // 6 Rsp Position Rank
            { "type": "num" },    // 7 RSP 2023-2025 Rank
            { "type": "num" }, //8 RP 2021-2025 Rank
            { "type": "num" }, // 9 Tier
            { "type": "num" }, // 10 Zap Score
            { "type": "num" }, // 11 Depth of Talent Score 
            null, // 12 category
            null, // 13 DOT Description
            null, // 14 Draft Capital Delta
            null, // 15 RP definition
            null, // 16 RP Quick Note
            null, // 17 comparables
            null, // 18 Comparison spectrum
            null, // 19 stylistic comp
            { "type": "num" }, // 20 positionrank
            { "type": "num" }, // 21 value
            { "type": "num" }, // 22 height
            { "type": "num" }, // 23 weight
            null, // 24 school
            null, // 25 notes
            null, // 26 summarized notes
            null, // 27 RSP notes
            { "type": "num" }, // 28 % of man routes
            { "type": "num" }, // 29 man success rate
            { "type": "num" }, // 30 man percentile
            { "type": "num" }, // 31 % zone
            { "type": "num" }, // 32 zone success
            { "type": "num" }, // 33 zone percentile
            { "type": "num" }, // 34 % press
            { "type": "num" }, // 35 press success
            { "type": "num" }, // 36 press percentile
            { "type": "num" }, // 37 double percentile,
            { "type": "num" }, // 38 overall Rank
            { "type": "num" }, // 39 trend 30 day
            ]
        });
    }); // Added closing );
</script>
</body>
</html>